<div class="mb-3">
  <%= form_with(model: tweet, local: true) do |form| %>
    <% if tweet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
        <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mb-3 text-11">
      <%#= form.label :content, 'What is happening ?' %>
      <%= form.text_area :content , placeholder: 'What is happening ?', required: true, maxlength:"140", class: "text-11 form-control ml-4", style: "width:90%; resize:none;" %>
    </div>
    <div class="border-up text-right">
      <div class="actions mt-2">
        <%= form.submit "Tweet", class: "btn btn-primary btn-sm text-11 rounded"%>
      </div>
    </div>
  <% end %>
</div>
