<div class="container content-sec color-black">
    <%= render "shared/messages"%>

    <% if user_signed_in? %>
        <div class="border-down">
            <div class="row justify-content-md-center">
                <div class="col-1 mr-3">
                    <%= image_tag(current_user.photo_url, class: "photo-avatar rounded-circle", alt: "Avatar Session")%>
                </div>
                <div class="col-9">
                <%= render 'tweets/form', tweet: @tweet %>
                </div>
            </div>
        </div>
    <% end %>

    <% @tweets.each do |tweet| %>
        <span></span>
        <article class="mytwitter-post py-3"> 
            <div class="row justify-content-md-center">
                <div class="col-1">
                    <%= image_tag(tweet.user.photo_url, class: "photo-avatar-post rounded-circle ", alt: "Avatar Post")%>
                </div>
                <div class="col-9">
                    <span class="text-11 color-time"><%= link_to '<i class=" fas fa-history" aria-hidden="true"></i> '.html_safe+distance_of_time_in_words(Time.now, tweet.created_at), tweet, class: "color-time text-decoration-none" %></span>
                    <div>
                        <i class="text-13 color-blue-deep"><strong>@<%= tweet.user.username.capitalize %></strong></i>
                    </div>
                    <div class="text-11 border-down-white pb-2">
                            <% if tweet.is_retweet?%>
                                <%=  link_to "", tweet.tweet_ref, class:"fas fa-retweet fa-lg text-success text-decoration-none" %>
                                <div class="row justify-content-md-center retweet-marco py-2 px-2">
                                    <div class="col-2">
                                        <%= image_tag(tweet.tweet_ref.user.photo_url, class: "photo-avatar-post-re rounded-circle ", style: "float:left;" ,alt: "Avatar Post")%>
                                    </div>
                                    <div class="col-10 " style="padding-left:0%; padding-right:10%;">
                                        <span class="text-11 color-time"><%= link_to '<i class=" fas fa-history" aria-hidden="true"></i> '.html_safe+distance_of_time_in_words(Time.now, tweet.tweet_ref.created_at), tweet, class: "color-time text-decoration-none" %></span>
                                        <br>
                                        <strong class="color-blue ">@<%= tweet.tweet_ref.user.username.capitalize %></strong>
                                        <br>
                                        <span><%= tweet.tweet_ref.content %></span>
                                    </div>
                                </div>
                            <% else %>
                                &nbsp;&nbsp;&nbsp;<%= tweet.content %>
                            <% end %>
                    </div>

                    <div class="text-11 div-like-retweet pt-1">
                        <div class="row">
                            <div class="col-6">
                                <span>
                                    <% if tweet.is_liked?(current_user) %>
                                        <%= link_to '<i class="fas fa-heart"></i>'.html_safe, tweet_likes_path(tweet), method: :post, class: "text-danger" %>
                                    <% else %>
                                        <%= link_to '<i class="far fa-heart"></i>'.html_safe, tweet_likes_path(tweet),method: :post, class: "text-black" %>
                                    <% end %>
                                    &nbsp;&nbsp;<%= tweet.likes.count %>
                                </span>
                            </div>
                            <div class="col-6">
                                <span>
                                    <% if tweet.is_rt?(current_user, tweet) %>
                                        <%= link_to '', tweet_retweet_path(tweet), method: :post, class: "fas fa-retweet text-black text-decoration-none" %>
                                    <% else %>
                                        <%= link_to '', tweet_retweet_path(tweet), method: :post, class: "fas fa-retweet text-warning text-decoration-none" %>
                                    <% end %>
                                    &nbsp;&nbsp;<%= tweet.count_rt %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    <% end %>

    <div class="p-4">
        <div class="text-center">
            <%= link_to_prev_page @tweets, "Show less Tweets", class: "btn btn-primary btn-sm text-11" %>
            <i class="btn btn-light btn-sm text-13 "><%= @tweets.current_page %></i>
            <%= link_to_next_page @tweets, "Shore more Tweets", class:"btn btn-primary btn-sm text-11"%>
        </div>
    </div>
    <%#= paginate @tweets %>
</div>







